---
import LinkIcons from '../LinkIcons.astro';
---
<section id="home" class="h-screen w-screen md:p-12 p-4 flex justify-around snap-center" >
    <div class="md:w-3/5 hidden md:block md:h-full bg-[url('/img/hero.jpeg')] bg-left-top bg-no-repeat bg-cover">
        <div class="relative top-12 left-12 h-40 w-40 bg-[url('/svgs/logo_white.svg')] bg-no-repeat bg-center bg-cover"></div>
    </div>
    <div class="flex flex-col items-center md:items-end justify-between">
        <ul class="flex gap-12 text-stone-600 text-2xl font-bold">
            <li class="block md:hidden"><div class="h-24 w-24 bg-[url('/svgs/logo_white.svg')] bg-no-repeat bg-center bg-cover"></div></li>
            <li class="hidden md:block"><a href="#home">Home</a></li>
            <li><a href="#tokenomics">Tokenomics</a></li>
            <li><a href="#farms">Farms</a></li>
        </ul>
        <div class="flex flex-col items-end justify-between gap-12">
            <div class="text-end">
                <h1 class="text-6xl font-bold text-stone-600">Welcome to AGROAI</h1>
                <p class="text-xl text-stone-500 italic tracking-[0.2rem]">Simplifying Yield Farming in DeFi</p>
            </div>
            <div class="text-end text-stone-500 text-2xl leading-8">
                <p>Unlock the true potential of yield farming with</p>
                <a href="https://t.me/agroaifarmbot" class="underline">our Telegram bot.</a>
                <p>Join us in making Farming great again.</p>
            </div>
        </div>
        <div class="self-center text-center text-stone-600">
            <p>Contract Address:</p>
            <p>0x2aD834eEeeb79Ced4e9f344FC90B73494dcB9EDe</p>
            <LinkIcons dark={true} />
        </div>
</section>
