---
import LinkIcons from '../LinkIcons.astro';
---
<section id="tokenomics" class="h-screen w-screen md:p-12 snap-center" >
    <div class="h-full w-full flex flex-col justify-between md:bg-[url('/img/hero.jpeg')] opacity-70 bg-[50%] bg-[length:150%_150%] md:p-12 p-4">
        <ul class="flex gap-16 md:text-white text-2xl font-bold">
            <li><a href="/">Home</a></li>
            <li><a href="#tokenomics">Tokenomics</a></li>
            <li><a href="#farms">Farms</a></li>
        </ul>
        <div class="flex md:flex-row flex-col items-start justify-between">
            <div class="flex md:flex-row flex-col justify-between items-center self-center">
                <div class="bg-[url('/svgs/blobs/blob1.svg')] bg-no-repeat bg-[length:120%_120%] bg-center opacity-85 md:w-56 md:h-56 flex flex-col justify-center items-center text-2xl">
                    <p>100M supply</p>
                    <p>5% team</p>
                </div>
                <div class="bg-[url('/svgs/blobs/blob2.svg')] bg-no-repeat bg-[length:130%_130%] bg-center opacity-85 md:w-64 md:h-64 flex flex-col justify-center items-center text-2xl">
                    <p>4% buy tax</p>
                    <p>4% sell tax</p>
                </div>
                <div class="bg-[url('/svgs/blobs/blob3.svg')] bg-no-repeat bg-[length:110%_110%] bg-center opacity-85 md:w-64 md:h-64 flex flex-col justify-center items-center text-2xl">
                    <p>UNI-V2</p>
                    <p>LP-Lock</p>
                </div>
            </div>
            <div class="flex flex-col items-end justify-between">
                <div class="flex flex-col items-center text-end md:border-r md:border-white p-4 gap-12">
                    <h2 class="text-6xl font-bold md:text-white text-stone-600">Tokenomics</h2>
                    <p class="text-xl md:text-white italic tracking-widest text-stone-500">Taxes will go into a common farming vault. To demonstrate the power of our bot, we will be using the taxes to farm and compound our farms.
                    The returns from those farms will automatically go back into those who hold 0.3% and more (for now, changeable once we grow).</p>
                </div>
            </div>
        </div>
        <div class="flex w-full justify-between items-center self-center">
            <img class="md:block hidden h-32 w-32 opacity-70" src="/img/logo_white.png" alt="AGROAI logo">
            <div class="md:hidden">
                <LinkIcons dark={true} />
            </div>
            <div class="hidden md:block">
                <LinkIcons />
            </div>
        </div>
    </div>
</section>
