---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import TokenomicsSection from '../components/sections/TokenomicsSection.astro';
import FarmsSection from '../components/sections/FarmsSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSection />
		<TokenomicsSection />
		<FarmsSection />
	</main>
</Layout>

