---
interface Props {
    dark?: boolean;
}

const { dark } = Astro.props;
---
<div class="flex justify-evenly items-center gap-2">
    <a href="https://app.uniswap.org/#/swap?outputCurrency=0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270" target="_blank"> <img class='h-[4.5rem] w-[4.5rem]' src=`/svgs/${dark? 'dark' : 'white'}/uniswap.svg` alt="uniswap"> </a>

    <a href="https://www.dexscreener.com/uniswap/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270" target="_blank"> <img class='h-16 w-16' src=`/svgs/${dark? 'dark' : 'white'}/dexscreener.svg` alt="dexscreener"> </a>

    <a href="https://dextools.io/app/uniswap/pair-explorer/0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270" target="_blank"> <img class='h-16 w-16' src=`/svgs/${dark? 'dark' : 'white'}/dextools.svg` alt="dextools"> </a>

    <a href="https://t.me/AgroAIERC" target="_blank"> <img class='h-16 w-16 ml-1' src=`/svgs/${dark? 'dark' : 'white'}/telegram.svg` alt="telegram"> </a>

    <a href="https://x.com/AgroAIERC" target="_blank"> <img class='h-20 w-20 -ml-1' src=`/svgs/${dark? 'dark' : 'white'}/x.svg` alt="x"> </a>

    <a href="https://agroai.gitbook.io/agroai/"> <img class='h-16 w-16 -ml-1' src=`/svgs/${dark? 'dark' : 'white'}/gitbook.svg` alt="gitbook"> </a>
</div>
